# Fake news Detection

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
df_fake= pd.read_csv("Fake.csv")
df_true= pd.read_csv("True.csv")

In [3]:
df_fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [4]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

add a column class to distinguish between Fake and  True datas

In [5]:
df_fake["class"]=0
df_true["class"]=1

get how many lines and columns the two data have (the shape of two data)

In [6]:
df_fake.shape,df_true.shape

((23481, 5), (21417, 5))

get the last ten lines of data

In [7]:
df_fake_manuel_testing= df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i],axis=0, inplace=True)
df_true_manuel_testing= df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i],axis=0, inplace=True)

*Merge this data set in a single data frame

*save what we did in a new data set

In [8]:
df_manuel_testing = pd.concat([df_fake_manuel_testing, df_true_manuel_testing], axis=0)
df_manuel_testing.to_csv("manuel_testing.csv")

Merge between two data sets True and Fake

In [9]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

remove title, subject and date column from the data set

In [10]:
df = df_merge.drop(["title", "subject", "date"], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

we are going to shuffle the dataset

In [11]:
df = df.sample(frac=1)
df.head(10)

                                                    text  class
4919   This is the craziest explanation of why Donald...      0
8112   MIAMI (Reuters) - Republican presidential nomi...      1
8309   It has been well documented that Donald Trump ...      0
11752  ORENBURG, Russia (Reuters) - When Vladimir Kab...      1
18922                                                         0
2253   WASHINGTON (Reuters) - President Donald Trump’...      1
16871  BANGKOK (Reuters) - For decades since the Viet...      1
6733   WASHINGTON (Reuters) - U.S. President-elect Do...      1
13926  MOSCOW (Reuters) - Russia s Defence Ministry s...      1
14656  HARARE (Reuters) - Zimbabwe s army appears to ...      1

check if there are any null values in the data set

In [12]:
df.isnull().sum()

text     0
class    0
dtype: int64

remove all dots, special characters from text content

In [13]:
def word_drop(text):
    text=text.lower()
    text=re.sub( '\[.*?\]', '',text)
    text=re.sub( "\\W", " ",text)
    text=re.sub( 'http?://\S+|www\.\S+', '',text)
    text=re.sub( '<.*?>+', '',text)
    text=re.sub( '[%s]' % re.escape(string.punctuation), '',text)
    text=re.sub( '\n', '',text)
    text=re.sub( '\w*\d\w*', '',text)
    return text

In [14]:
df["text"]=df["text"].apply(word_drop)

In [15]:
df.head(10)

                                                    text  class
4919   this is the craziest explanation of why donald...      0
8112   miami  reuters    republican presidential nomi...      1
8309   it has been well documented that donald trump ...      0
11752  orenburg  russia  reuters    when vladimir kab...      1
18922                                                         0
2253   washington  reuters    president donald trump ...      1
16871  bangkok  reuters    for decades since the viet...      1
6733   washington  reuters    u s  president elect do...      1
13926  moscow  reuters    russia s defence ministry s...      1
14656  harare  reuters    zimbabwe s army appears to ...      1

In [16]:
x = df["text"]
y = df["class"]

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .25)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

### Logistic Regression

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

we're going to score that model

In [22]:
LR.score(xv_test, y_test)

0.985204991087344

so our model is 98% accurate, se we'll do the classification report

In [23]:
pred_LR = LR.predict(xv_test)

compare our actual data with prediction

In [24]:
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5898
           1       0.98      0.99      0.98      5322

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

### Decision Tree Classification

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [27]:
DT.score(xv_test, y_test)

0.9949197860962566

In [28]:
pred_DT = DT.predict(xv_test)

In [29]:
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5898
           1       1.00      0.99      0.99      5322

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

### Gradient Boosting Classifier

In [30]:
from sklearn.ensemble import GradientBoostingClassifier

In [31]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [32]:
GBC.score(xv_test, y_test)

0.9950089126559715

In [33]:
pred_GBC = GBC.predict(xv_test)

In [34]:
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5898
           1       0.99      1.00      0.99      5322

    accuracy                           1.00     11220
   macro avg       0.99      1.00      0.99     11220
weighted avg       1.00      1.00      1.00     11220

### Random Forest Classifier

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
RFC = RandomForestClassifier()
RFC.fit(xv_train, y_train)

RandomForestClassifier()

In [37]:
RFC.score(xv_test, y_test)

0.985650623885918

In [38]:
pred_RFC = RFC.predict(xv_test)

In [39]:
pred_RFC = RFC.predict(xv_test)

In [40]:
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5898
           1       0.99      0.98      0.98      5322

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

### Manual Testing

In [47]:
def output_label(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Real News"
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = LR.predict(new_xv_test)
    pred_GBC = LR.predict(new_xv_test)
    pred_RFC = LR.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_label(pred_LR),
                                                                                                              output_label(pred_DT),
                                                                                                              output_label(pred_GBC),
                                                                                                              output_label(pred_RFC)))

In [50]:
news = str(input())
manual_testing(news)

COPENHAGEN (Reuters) - Danish police said on Tuesday the size of a headless female torso found on the sea s edge in Copenhagen suggested it could be that of a Swedish journalist who died after taking a submarine ride with the vessel s Danish inventor. Police said divers were still searching the area and they were investigating reports of other body parts that may have been spotted in Copenhagen harbor. Danish inventor Peter Madsen has been charged with killing Kim Wall, a Swedish journalist, in his home-made submarine.   We re dealing with a torso where arms, legs and head were cut off deliberately. The length of the torso doesn t speak against it being Kim Wall, but we still don t know,  Copenhagen police spokesman Jens Moller said in a video statement. Madsen told a court she had died in an accident on board the submarine and that he had buried her at sea, changing his earlier statement that he dropped her off alive in Copenhagen. Police are conducting DNA tests to identify the torso - found on Monday by a passing cyclist - and the results are due Wednesday morning, Moller said. The bizarre case has dominated Danish and Swedish media, and drawn interest from around the world. Madsen has been charged with the manslaughter of Wall, who has been missing since he took her out to sea in his 17-metre (56 feet) submarine on Aug. 10. He denies the charge. He was rescued a day later after his UC3 Nautilus sank in the narrow strait between Denmark and Sweden. Police found nobody else in the wreck. Madsen, an entrepreneur, artist, submarine builder and aerospace engineer, went before a judge on Saturday for preliminary questioning. The case is closed to the public in order to protect further investigations, police said.


LR Prediction: Real News
DT Prediction: Real News
GBC Prediction: Real News
RFC Prediction: Real News